{% extends "AlmacenBundle::layout.html.twig" %}

{% block content %}
    <div class="col-lg-4">
        <h2 style="margin-top: 10px;">Añadir Etiquetas</h2>

        {{ form_start(form) }}
        {{ form_end(form) }}
    </div>

    <br/>

    {% if app.session.flashbag().get('status_error') is defined  %}
        {% for message in app.session.flashbag().get("status_error") %}
            {% if message != "" %}
                <div class="alert alert-danger">{{ message }}</div>
            {% endif %}
        {% endfor %}
    {% endif %}

    <div class="clearfix"></div>

{% endblock %}